body{

    background:#f4f6f9;

}

.sidebar{

    width:250px;

    min-height:100vh;

    background:#1f2937;

    padding:20px;

}

.sidebar h3{

    color:white;

    text-align:center;

}

.sidebar ul{

    list-style:none;

    padding:0;

}

.sidebar li{

    margin:18px 0;

}

.sidebar a{

    color:white;

    text-decoration:none;

    display:block;

    padding:10px;

    border-radius:8px;

}

.sidebar a:hover{

    background:#374151;

}

.dashboard-card{

    border:none;

    border-radius:12px;

    padding:20px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.dashboard-card h2{

    margin-top:15px;

    font-weight:bold;

}