<div class="sidebar bg-dark text-white">

    <div class="logo">

        <h3>
            <i class="bi bi-box-seam"></i>
            OMS
        </h3>

    </div>

    <hr>

    <ul>

        <li>
            <a href="/">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-box"></i>
                Products
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-buildings"></i>
                Warehouses
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-archive"></i>
                Inventory
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cart"></i>
                Orders
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-graph-up"></i>
                Reports
            </a>
        </li>

    </ul>

</div>