{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <div class="card dashboard-card">

            <h5>Total Products</h5>

            <h2>5</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card dashboard-card">

            <h5>Warehouses</h5>

            <h2>3</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card dashboard-card">

            <h5>Total Orders</h5>

            <h2>25</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card dashboard-card">

            <h5>Low Stock</h5>

            <h2>2</h2>

        </div>

    </div>

</div>

<div class="card mt-4">

    <div class="card-body">

        <h4>

            Recent Orders

        </h4>

        <p>

            Orders will appear here.

        </p>

    </div>

</div>

{% endblock %}